@import "../../variables.scss";

.hero {
  background: linear-gradient(180deg, #f9e6e6 0%, #ebacac 100%);
  height: 80vh;
  position: relative;
  padding: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    height: 60vh;
    padding: 50px 15% 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
    transform: skewY(10deg);
    box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.085428);

    @media screen and (min-width: 768px) {
      transform: skewY(5deg);
    }
  }

  &-image {
    width: 60%;
    height: 60%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    top: 17px;

    @media screen and (min-width: 768px) {
      position: relative;
      left: unset;
      top: unset;
      transform: unset;
      width: 40%;
      object-fit: contain;
      transform: scale(1.8);
      margin-top: 15vh;
    }
  }

  &-content {
    position: absolute;
    top: 50%;
    width: calc(100% - 40px);

    @media screen and (min-width: 768px) {
      width: 60%;
      position: relative;
      top: unset;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .product-title {
      font-weight: 300;
      font-size: 20px;
      color: $primaryColor;

      @media screen and (min-width: 768px) {
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }

    .product-description {
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #000000;
      width: 95%;

      @media screen and (min-width: 768px) {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
  }

  &-button {
    background-color: $primaryColor;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: 17px;
      width: 245px;
    }
  }

  &-badges {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 26px;

    @media screen and (min-width: 768px) {
      justify-content: start;
    }
  }
}

.tabs-container {
  display: flex;
  align-items: center;

  .tab-name {
    font-size: 14px;
    margin: 0;
  }
}

.tabs {
  display: flex;

  .tab {
    border: 1px solid rgba(#000, 0.1);
    padding: 2px;
    border-radius: 11.5px;
    min-width: 75px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;

    &.active {
      background-color: rgba($secondaryColor, 0.1);
      border: none;
    }

    span {
      color: #000;
      font-size: 14px;
    }
  }
}
