@import "../../variables.scss";

.nutritional-container {
  padding: 100px 20px 20px;

  @media screen and (min-width: 768px) {
    padding: 280px 20% 70px;
  }

  h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2.41px;
    color: $primaryColor;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      letter-spacing: 3.86px;
      margin-bottom: 45px;
    }
  }
}

.nutritional-columns {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
  }
}

.nutritional-info {
  @media screen and (min-width: 768px) {
    width: 40%;
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;

    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-bottom: 45px;
    }
  }

  .ingredients-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }

  .ingredients-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-top: 0;
  }

  &-table {
    background-color: #fafafa;
    color: $primaryColor;
    font-weight: 300;
    width: 100%;
    margin-top: 55px;
    padding: 13px;

    @media screen and (min-width: 768px) {
      width: 60%;
      padding: 13px 80px 0;
      margin-top: 0;
    }

    td {
      padding-bottom: 20px;
    }

    .item-name {
      font-size: 12px;
      text-align: right;
      padding-right: 20px;

      @media screen and (min-width: 768px) {
        font-size: 14px;
      }
    }

    .item-value {
      font-size: 14px;
    }
  }
}
