@import "../../variables.scss";

.nutritional-container {
  padding: 100px 20px 20px;
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 280px 20% 70px;
  }

  h2 {
    color: $primaryColor;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.41px;
    line-height: 27px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      letter-spacing: 3.86px;
      margin-bottom: 45px;
    }
  }
}

.nutritional-element-1 {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    left: 0;
    position: absolute;
    top: -150px;
  }
}

.nutritional-element-2 {
  display: none;

  @media screen and (min-width: 992px) {
    display: block;
    left: 0;
    position: absolute;
    top: 30%;
  }
}

.nutritional-element-3 {
  position: absolute;
  right: 0;
  top: 10%;
  width: 100px;

  @media screen and (min-width: 768px) {
    right: 0;
    top: 30%;
    width: unset;
  }
}

.nutritional-element-4 {
  top: 37%;
  left: -25px;
  position: absolute;
  z-index: 1;
  width: 100px;

  @media screen and (min-width: 768px) {
    top: unset;
    bottom: -120px;
    left: 0;
    width: unset;
  }
}

.nutritional-columns {
  @media screen and (min-width: 992px) {
    display: flex;
    gap: 40px;
  }
}

.nutritional-info {
  @media screen and (min-width: 992px) {
    width: 40%;
  }

  .description {
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    @media screen and (min-width: 992px) {
      margin-bottom: 45px;
      margin-top: 0;
    }
  }

  .ingredients-title {
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }

  .ingredients-description {
    color: $black;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin-top: 0;
  }

  &-table {
    background-color: #fafafa;
    color: $primaryColor;
    font-weight: 300;
    margin-top: 55px;
    padding: 13px;
    width: 100%;

    @media screen and (min-width: 992px) {
      margin-top: 0;
      padding: 13px 80px 0;
      width: 60%;
    }

    td {
      padding-bottom: 20px;
    }

    .item-name {
      font-size: 12px;
      padding-right: 20px;
      text-align: right;

      @media screen and (min-width: 992px) {
        font-size: 14px;
      }
    }

    .item-value {
      font-size: 14px;
    }
  }
}
